.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  max-height: 100vh;
  min-width: 40vw;
  min-height: 400px; /* Adjust as needed */
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.file-label {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.file-input {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  margin-bottom: 20px;
}

.upload-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #45a049;
}

.image-container {
  margin-top: 20px;
  flex-grow: 1;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fetch-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.fetch-button:hover {
  background-color: #2980b9;
}
