/* Imageuploader.css */

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(var(--main), 0.9);
  border: 1px solid rgba(var(--main-hovers));
  border-radius: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  max-height: 100vh;
  min-width: 40vw;
  min-height: 30vh;
  max-width: 90vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* Adjust as needed */
}

.upload-container::-webkit-scrollbar {
  display: none;
}

.actual-upload-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
  max-height: 100vh;
  min-width: 40vw;
  min-height: 400px;
  max-width: 90vw;
  /* Adjust as needed */
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.file-label {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #fff;
}

.file-input {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.375rem;
  font-size: 1.25rem;
  width: 80%;
  margin-bottom: 20px;
  transition-duration: 400ms;
  color: #fff;
}

.file-input:hover {
  border-radius: 0.375rem;
  background-color: rgb(var(--main-hovers));
  transition-duration: 400ms;
}

.upload-button {
  background-color: rgb(var(--button));
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1.25rem;
  cursor: pointer;
  transition: background-color 0.4s;
}

.upload-button:hover {
  background-color: rgb(var(--button-hovers));
  transition-duration: 400ms;
}

.image-container {
  margin-top: 20px;
  flex-grow: 1;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fetch-button {
  background-color: rgb(var(--button));
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

.fetch-button:hover {
  background-color: rgb(var(--button-hovers));
}

/* RecipeList.css */

.recipes-container {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  overflow: auto;
  min-width: 40vw;
  min-height: 60vh;
  max-height: 100vh;
  max-width: 80vw;
  box-shadow:
    0 0 4px rgba(0, 0, 0, 0.1),
    0 0 10px rgba(0, 0, 0, 0.1),
    0 0 17px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.recipes-container::-webkit-scrollbar {
  display: none;
}

.recipe-container {
  position: relative;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
  font-style: oblique;
  transition-duration: 400ms;
  color: rgb(var(--link));
  text-shadow:
    0 0 1px #ffffff,
    0 0 4px #ffffff,
    0 0 5px #ffffff;
  text-decoration-color: rgb(var(--link));
  text-decoration: none;
}

.recipe-container:hover {
  background-color: rgb(var(--main-hovers));
  border-radius: 0.375rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  transition-duration: 400ms;
  color: rgb(var(--link-hovers));
  text-decoration: underline;
}

.bolded {
  font-weight: bold;
  text-shadow:
    0 0 1px #ffffff,
    0 0 4px #ffffff,
    0 0 5px #ffffff,
    0 0 7px #ffffff;
}

.recipe-title {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  color: #fff;
}

/* IngredientsOptions.css */

.ing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 55vh;
  margin: 2rem;
  /* Adjust as needed */
}

.flexxing-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 40vh;
  column-gap: 2rem;
  row-gap: 1rem;
}

.flexxing-wrap::-webkit-scrollbar {
  display: none;
}

.individual {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.individual2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 1rem;
}

.individual-label {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
}

.input-field {
  display: flex;
  width: 20vw;
  height: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #000000;
  font-size: 1.5rem;
}

.checkbox {
  width: 1.25rem;
  height: 1rem;
  border-radius: 0.375rem;
  border: 1px solid #000000;
}

.deling-button {
  background-color: rgb(var(--delete));
  border-radius: 0.375rem;
  border-color: transparent;
  border: 0.0625rem solid #000;
  width: 1.25rem;
  height: 1.25rem;
  justify-self: self-end;
  margin-left: 0.5rem;
  margin-top: 0.35rem;
  transition-duration: 400ms;
  float: right;
}

.deling-button:hover {
  background-color: rgb(var(--delete-hovers));
  transition-duration: 400ms;
  color: white;
}

.ing-title {
  color: #fff;
}
